/* HEX CODES:
Primary Color Scheme
#00022b  <-- Lightest
#010e54
#0855b1
4fa5d8
#daeaf7  <-- Darkest

Secondary Color Scheme
#0d0b33  <-- Lightest
#4c2f6f
#52489f
#c266a7
#e7c8e7   <-- Darkest


*/
.p-component {
    /* margin-top: 0.5rem; */
}
.p-card-content {
    padding-top: 0px;
    font-size: 1.1em;
}

.MessageContainer {
    overflow: auto;
    /* resize: both; */
    text-align: left;
    border-radius: 7px;
    margin: 5px;
    
}

.p-card-subtitle {
    font-size: small;
    font-weight: bold;
    margin-left: 10px;
    padding-top: 0.5rem;
}

.MessageContainerContent {
    font-weight: bold; 
}

.MessageContainerContent p{
    margin: 10px;
    padding: 0px; 
}

.MessageContainerRole {
    margin-left: 10px;
    padding-top: 0.5rem;
     font-size: small;
}   
 
